<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
    <mat-card>
      <mat-card-content>
        <div>
          <p>Tems Smith likes this</p>
          <hr>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start space-between" [fxShow]="true">
          <div fxLayout="row wrap" style="   " class="postParagraphMargin" fxLayoutAlign="start space-between" [fxShow]="true"><img imgSrc="/Web/Images/post.jpg" class="image">
            <div fxLayout="column wrap" class="marginLeft10" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <h3><a href="#">Tems Smitha</a></h3>
              </div>
              <div>
                <p> Software Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <p style=" margin: 13px 0px 14px 0px; " class="postParagraphMargin">
          Today&#x2019;s trends of digitization, Industry 4.0 and supply chain resilience force companies to rethink the way they design their supply chains</p>
      </mat-card-content>

      <img mat-card-image imgSrc="/Web/Images/post.jpg">

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <img src="https://static-exp2.licdn.com/sc/h/8ekq8gho1ruaf8i7f86vd1ftt">
            <img src="https://static-exp2.licdn.com/sc/h/cpho5fghnpme8epox8rdcds22">
          </div>
          <div>
            <p>Tems Smith and 128 others</p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content>
        <div>
          <hr>
        </div>
      </mat-card-content>

      <mat-card-content></mat-card-content>

      <mat-card-actions>
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="36px" fxLayoutAlign="center center" [fxShow]="true" fxLayoutAlign.lg="center start" fxLayoutGap.lg="1px">
            <mat-icon>thumb_up</mat-icon><button mat-button fxShow.lt-sm="false">Like</button>
            <mat-icon>chat</mat-icon><button mat-button fxShow.lt-sm="false">Comment</button>
            <mat-icon>share</mat-icon><button mat-button fxShow.lt-sm="false">share</button>
            <mat-icon>send</mat-icon><button mat-button fxShow.lt-sm="false">send</button>
          </div>
        </div>
      </mat-card-actions>

      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>