<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" class="width100" fxLayoutAlign="start space-around" [fxShow]="true">
      <mat-card class="width100">
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <h3>
              <h3 class="Recent"> <a href="#">Recent</a></h3>
            </h3>
            <div fxLayout="row wrap" class="font-sizeSmall" fxLayoutAlign="start center" [fxShow]="true" *ngFor="let discover of page.discoverMoreInfo">
              <mat-icon>{{discover.icon}}</mat-icon>
              <p style="font-weight:small" class="font-sizeSmall grayColor">
                <!-- <h3 ><a href="#">Connections</a></h3>
<h3 ><a href="#">Frontend development Group</a></h3>
<h3 ><a href="#">UX design Group</a></h3> -->
                {{discover.text}}


              </p>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div style="font-weight:small;text-align:center;">
              <h3> <a href="#">Group</a></h3>
            </div>
            <div fxLayout="row wrap" class="font-sizeSmall" fxLayoutAlign="start center" [fxShow]="true" *ngFor="let discover of page.discoverMoreInfo">
              <mat-icon>{{discover.icon}}</mat-icon>
              <p style="font-weight:small" class="font-sizeSmall grayColor">
                <!-- <h3 ><a href="#">Connections</a></h3>
<h3 ><a href="#">Frontend development Group</a></h3>
<h3 ><a href="#">UX design Group</a></h3> -->
                {{discover.text}}


              </p>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
              <h3>
                <a href="#" style="color:blue;">Events</a>
              </h3>
              <mat-icon style="color:black">add</mat-icon>
            </div>
            <h3>
              <a href="#" style="color:blue;">Followed Hashtags</a>
              <hr>
            </h3>
          </div>
        </mat-card-content>

        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div>

              <p>Discover More</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>