<mat-card style="width:94%;">
  <mat-card-content>
    <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="width:100%;" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/profilePicture.jpg" style="width:40px;height:40px;border-radius:50%;margin-right:10px;"><button mat-button class="startaPostBtn">Start A Post</button></div>
      <div fxLayout="row wrap" fxLayoutGap="3.2em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutGap="10em" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let icon of page.searchBarIcons">
          <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
            <mat-icon style="color:{{icon.color}}">{{icon.icon}}</mat-icon>
            <h4 class="font-sizeSmall">
              {{icon.name}}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>