<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.md="90">
    <div fxLayout="row wrap" style="    margin-top: 2px;" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start start" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true"><img imgSrc="/Web/Images/linkedin.png" style="width: 40px;    "></div>
          <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true" fxShow.md="False">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Search" [required]="false">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="2em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" *ngFor="let icon of page.icons">
            <mat-icon>{{icon.icon}}</mat-icon>
            <div>
              <p>{{icon.name}}</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxFlex="3" fxLayoutGap="3px;" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Images/profilePicture.jpg" style="width:30px; height:30px;border-radius:50%;margin-bottom:1px;">
            <div>
              <p>Me</p>

            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>apps</mat-icon>
            <div>
              <p>work</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div class="centerText">
              <a href="#">Try Premium For <br><span> Free</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>